
<div class="container">
    <mat-card class="p-4">
        <h1 class="mx-5">Add New quizees</h1>
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="" class="row" [formGroup]="quizeForm" (ngSubmit)="addQuizeData()">
                    <mat-form-field appearance="outline">
                        <mat-label>Quize Title</mat-label>
                        <input type="text" formControlName="title" name="title" matInput >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Quize Description</mat-label>
                        <textarea type="text" formControlName="description" name="description"  rows="3" matInput></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Max Marks</mat-label>
                        <input type="text" formControlName="maxMarks" name="maxMarks" matInput >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Number Of Question</mat-label>
                        <input type="text" formControlName="numberOfQuestions" name="numberOfQuestions" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Category Id</mat-label>
                        <mat-select formControlName="category_id" name="category">
                            <mat-option *ngFor="let category of getCategoryData"  [value]="category.category_id">{{category.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-slide-toggle formControlName="active" name="active">
                        Publish Status
                    </mat-slide-toggle>

                    <div class="text-center mt-5">
                        <button mat-raised-button color="primary">Add Quizzes</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</div>