<!-- <h1 class=" mt-3">All Quizzes</h1> -->
<div class="container-fluid">
    <div class="row" *ngIf="quizzes">
        <div class="col-md-6" *ngFor="let quiz of quizzes">
<mat-card class="mt-4">
  <mat-card-header>
    <mat-card-title> <mat-icon >laptop</mat-icon>&nbsp;&nbsp; {{quiz.title}}</mat-card-title>
    <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
  </mat-card-header>
  <div class="container">
      <button mat-stroked-button color="primary" class="mb-3 mx-2 mt-3">View</button>
      <button mat-stroked-button color="primary"class="mb-3 mx-2 mt-3" [routerLink]="['/user-dashboard/instruction/'+quiz.quiz_id]">Start</button>
    <button mat-stroked-button class="mb-3 mx-2 mt-3">Number of Questions:{{quiz.numberOfQuestions}}</button>
    <button mat-stroked-button color="primary" class="mb-3 mx-2 mt-3">Max Marks:{{quiz.maxMarks}}</button>
  </div>
</mat-card>
        </div>
        <div class="col-md-12" *ngIf="quizzes.length==0">
            <mat-card>
                <mat-card-content>
                    <h1 class="text-center">Quiz is not Available For these Category</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<!-- <div class="text-center m-5">
    <button mat-raised-button color="primary" routerLink="/admin-dashboard/add-quiees">Add Quiz</button>
  </div> -->
