<mat-card class="sidebar">
    <div class="text-center">
        <img class="img-fluid w-50" src="https://cdn-icons-png.flaticon.com/512/1642/1642473.png" alt="">
    </div>
    <button class="example-menu-item rounded"  cdkMenuItem><mat-icon mat-list-icon>home</mat-icon>Home</button>

    <button routerLink="profile" class="example-menu-item rounded" cdkMenuItem><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>

    <button routerLink="admin-viewcatogaries" class="example-menu-item rounded" cdkMenuItem><mat-icon mat-list-icon>list</mat-icon>Categories</button>

    <button routerLink="add-catogeries" class="example-menu-item rounded" cdkMenuItem><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category</button>

    <button routerLink="admin-viewquiees" class="example-menu-item rounded" cdkMenuItem><mat-icon mat-list-icon>quizzes</mat-icon>Quizzes</button>

    <button routerLink="add-quiees" class="example-menu-item rounded" cdkMenuItem><mat-icon mat-list-icon>add</mat-icon>AddQuizzes</button>
    
    <button class="example-menu-item rounded"  cdkMenuItem (click)="logOut()"><mat-icon mat-list-icon >logout</mat-icon>Log Out</button>
</mat-card>

