<div class="container-fluid" *ngIf="!isSubmit">
    <div class="row">
        <div class="col-md-2">
            <mat-card class="mt-5">
                <mat-card-title class="mx-2 mt-2">
                    <h1 class="text-center">Instructions</h1>
                </mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Do not refresh the page Otherwise you will get new question</li>&nbsp;
                        <li>Do not switch the tabs</li>&nbsp;
                        <li>Do not minimize window</li>
                    </ul>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8">
            <div class="container">
                <h1>{{questions[0].quiz.title}}</h1>
            </div>
            <mat-card *ngFor="let question of questions, let i=index">
                <mat-card-content>
                    <h3><b>Q.{{i+1}})</b><span [(ngModel)]="question.content">{{question.content}}</span></h3>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-md-6 mt-4">
                            <input type="radio" [name]="question.option1" [value]="question.option1"
                                [(ngModel)]="question.givenAnswer">
                            {{question.option1}}
                        </div>
                        <div class="col-md-6 mt-4">
                            <input type="radio" [name]="question.option2" [value]="question.option2"
                                [(ngModel)]="question.givenAnswer">
                            {{question.option2}}
                        </div>
                        <div class="col-md-6 mt-4">
                            <input type="radio" [name]="question.option3" [value]="question.option3"
                                [(ngModel)]="question.givenAnswer">
                            {{question.option3}}
                        </div>
                        <div class="col-md-6 mt-4">
                            <input type="radio" [name]="question.option4" [value]="question.option4"
                                [(ngModel)]="question.givenAnswer">
                            {{question.option4}}
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
            <div class="container mt-4">
                <button mat-raised-button color="warn" (click)="submit()">End Exam</button>
            </div>
        </div>
        <div class="col-md-2 mt-5">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="mb-3">Progress </mat-card-title>
                <mat-card-subtitle>Quiz will Automatically close after end the time</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-4">
                    <h2>{{getForMatedTime()}}</h2>
                    <mat-spinner mode="indeterminate" [value]="(timer/(questions.length*0.30*100))*100" color="primary"></mat-spinner>
                </mat-card-content>
            </mat-card>
           
        </div>
    </div>
</div>

<div class="container text-center mt-5" *ngIf="isSubmit">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>
                    <h1>Quiz Result</h1>
                </mat-card-title>
                <mat-card-content>
                    <h3>Marks Got:{{marksGot}}</h3>
                    <h3>Correct Answer:{{correctAnswers}}</h3>
                    <h3>Attempt Questions : {{attempted}}</h3>
                </mat-card-content>
                <mat-card-actions>
                    <button class="btn btn-primary mx-2" (click)="printResult()">Print</button>
                    <button class="btn btn-primary" [routerLink]="['/user-dashboard/0']">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>